# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.env
.DS_Store
.vscode
dragondaemon
proofofconcept.go2
clips/*
*.mp4
*.avi
dd.config
.dd.config.swp
config.json
dragond

dd.db


pkg/rtsp/header.go
pkg/rtsp/request.go
pkg/rtsp/response.go